*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    font-weight: 500 !important;
}
.word-spacing{
    word-spacing: 10px;
}
